<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf" content="<%= _csrf %>" />
    <title>My Todo App</title>
    <link rel="stylesheet" href="./css/styles.css" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div class="grid grid-cols-6">
      <div class="col-start-3 col-span-2">
        <%- include("header.ejs", { user }) %>

        <section class="my-2">
          <form action="/todos" method="post" class="flex gap-2 items-center justify-evenly">
            <input type="hidden" name="_csrf" value="<%= _csrf %>" />

            <input
              type="text"
              name="title"
              required
              placeholder="What's next?"
              class="p-2 rounded shadow border border-gray-300 text-gray-900 w-full leading-5"
            />

            <input
              type="date"
              name="dueDate"
              required
              placeholder="What's next?"
              class="p-2 rounded shadow border border-gray-300 text-gray-900 w-full leading-4"
            />

            <button
              type="submit"
              class="bg-green-600 text-white rounded shadow py-1.5 px-6"
            >
              Add
            </button>
          </form>
        </section>
       
        <section class="my-6 flex flex-col gap-6">
            <%- include("partials/todo-section.ejs", {title: "Overdue", todos: overdueTodos}) %>
            <%- include("partials/todo-section.ejs", {title: "Due Today", todos: dueTodayTodos}) %>
            <%- include("partials/todo-section.ejs", {title: "Due Later", todos: dueLaterTodos}) %>
            <%- include("partials/todo-section.ejs", {title: "Completed Items", todos: completedTodos}) %>
        </section>
      </div>
    </div>

    <script>
      const _csrf = document.querySelector("meta[name=csrf]").getAttribute("content");

      const updateTodo = (id, completed) => {
        fetch(
          `/todos/${id}`, 
          { method: "put", headers: { "Content-Type": "application/json" }, body: JSON.stringify({ _csrf, completed }) }
        ).then((res) => {if (res.ok) window.location.reload()})
      }

      const deleteTodo = (id) => {
        fetch(
          `/todos/${id}`, 
          { method: "delete", headers: { "Content-Type": "application/json" }, body: JSON.stringify({ _csrf }) }
        ).then((res) => {if (res.ok) window.location.reload()})
      }
    </script>
  </body>
</html>
